.navbar {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right, #4c68a5, #021247);
  color: "white";
}

.NavDropdown{
  color: "white"
}

.navbar-nav{
  color: #ebe8c1
}

.navbar-brand {
  display: flex;
  align-items: left;
}

.navbar-brand small {
  display: block;
  font-size: 11px;
  color: #ebe8c1;
  text-align: center;
  margin-top: 5px;
}

.login-btn:hover {
  opacity: .8
}