.carousel {
  margin-top:50px;
  height: 700px;
  width: 100%;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}

.carousel span {
  background-color:black; ;
}