.projects .carousel .card{
    /* background-image: linear-gradient( #0E2056, #4C68A5, #d0c311, #d05d11); */
    /* border-color: #021247; */
    /* background-color: rgb(76, 104, 165); */
    background-image: linear-gradient( #4c68a5, #021247);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover{
    background-image: linear-gradient(#d0c311, #d05d11);
     /* background-image: linear-gradient( #0E2056, #4C68A5, #d0c311, #d05d11); */
}
.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover .box{
    transform: scale(1.05);
}
.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #d05d11;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid orangered!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: orangered!important;
}
