html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 120px;
  text-align: center;
  padding: 20px;
  margin-top: 75px;
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right, #4c68a5, #021247);
}

.push {
  height: 120px;
}

body {
  margin-bottom: 200px; /* Margin bottom by footer height at it's highest (three columns collapsed together on xs screen size) */
}
