.big-button{
    height: 150px;
    font-size: 26px;
    font-weight: bold;
    background-color: #d0c310;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5)}

.big-button:hover {
    opacity: .8;
    transform: translateY(-4px);
    background-color: #d0c310;
    color: white;
}